*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.card{
    height: 300px;
    width: 400px;
    background-color:white;
    text-align:center;
    margin:20px;
    padding:10px;
    border-radius:10px;
}